<h1>Pets or Animals?</h1>
<!-- Print out the type, pet boolean and fierceness of all the animals. -->

{{#each animals}}
<p> Animal Type: {{animalType}}</p>
<p> Pet?: {{pet}}</p>
<p> Fierceness: {{fierceness}}</p>

{{/each}}
